.highlight{
	z-index: 1000 !important;
    /*border: 1px solid #b61037 !important;*/
    background-color: rgba(50, 186, 239, 0.5) !important;
}
#codeStealResult{
	border: 0px;
	border-radius: 2px;
	padding: 10px; 
	background: #fff;
	position: absolute;
	z-index: 10000;
	filter: drop-shadow(0px -5px 3px #ccc)
			drop-shadow(0px 1px 3px #ccc);
}
#codeStealResult::before, #codeStealResult::after{
	bottom: 100%;
    left: 50%;
    content: " ";
    height: 0px;
    width: 0px;
    position: absolute;
    pointer-events: none;
    border-width: initial;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
}
#codeStealResult::after {
    margin-left: -5px;
    border-width: 5px;
}
#codeStealResult::before{ 
	border-bottom-color: #fff;
    margin-left: -6px;
    border-width: 6px;
}
.code-steal-result-swap{
	display: flex; 
	flex-direction: row;
}
.code-steal-result-content{
	display: flex; 
	flex-direction: column; 
	margin: 5px;
	position: relative;
}
.code-steal-label-swap{
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
}
.code-steal-label-swap label{
	font-size: 20px;
	font-weight: 600;
	margin-right: 30px;
}
.code-steal-btn-copy{
	width: 40px 							!important;
	height: 18px 							!important;
	background: #3f87a6 					!important; 
	color: #fff 							!important;
	border: 0px 							!important;
	border-radius: 3px					 	!important;
	font-size: 10px 						!important;
	font-family: Calibri 					!important;
	font-weight: 600 						!important;
	cursor: pointer 						!important;
	outline: none 							!important;
	margin-bottom: 2px						!important;
}
.code-steal-btn-copy:hover{
	background: #6babc7 !important;
}
.code-steal-result-content textarea{
	resize: none;
	overflow: scroll;
	background-color: #e4f0f5;
	outline: none;
	border: none;
	border-left: 4px solid #3f87a6;
	padding: 5px;
}
.code-steal-result-content textarea::-webkit-scrollbar{
    width: .2em;
    height: .2em;
}
.code-steal-result-content textarea::-webkit-scrollbar-thumb{
	background-color: darkgrey;
    outline: 1px solid slategrey;
}
.code-steal-jsfiddle-swap{
	display: flex;
	justify-content: left;
	margin: 5px;
}
.code-steal-btn-jsfiddle{
	background-color: #4CAF50 		!important; 
	border: 0px 					!important;
	border-radius: 2px 				!important;
	box-shadow: 1px 1px 2px #eee 	!important;
	padding: 10px 20px 				!important;
	color: #fff 					!important;
	cursor: pointer 				!important;
}

.code-steal-btn-close{
	position: absolute				!important;	
	right: 15px						!important;
	background-color: #fff 			!important; 
	border: 1px solid  #4CAF50		!important;
	border-radius: 2px 				!important;
	box-shadow: 1px 1px 2px #eee 	!important;
	padding: 10px 20px 				!important;
	color: #4CAF50 					!important;
	cursor: pointer 				!important;
}

.code-steal-btn-jsfiddle:hover,
.code-steal-btn-close:hover		{
	opacity: 0.7					!important;
}